spring:
  application:
    name: bluebankapi
  datasource:
    url: jdbc:h2:mem:bluebank;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=PostgreSQL 
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop  
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
  jackson:
    date-format: yyyy-MM-dd'T'HH:mm:ss
    time-zone: GMT+0
