spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bluebank
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
  jackson:
    date-format: yyyy-MM-dd'T'HH:mm:ss
    time-zone: GMT+0

server:
  port: 8080
  servlet:
    context-path: /

logging:
  level:
    org.springframework: WARN
    com.inatel: DEBUG
    org.hibernate.SQL: false

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
